service fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.lenovo_tbx704
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system sdcard_rw input uhid

service gx_fpd /vendor/bin/gx_fpd
    class late_start
    user system
    group system

on boot
    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

    chmod 0666 /dev/qseecom
