type debugfs_rmt, debugfs_type, fs_type;
type debugfs_wlan, debugfs_type, fs_type;

# Rild
type rild_file, file_type, vendor_file_type;

# Touchscreen
type sysfs_touchpanel, fs_type, sysfs_type;

